<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>Category</h2>
      </div>
    </div>
  </div>
</div>

<!-- TABLE  -->
<div class=" panel-content ">
  <div class="row ">
    <div class="col-md-12 ">
      <div class="widget ">
        <div class="table-area ">
          <div class="widget-title ">
            <div class="pull-right">
              <!-- <form class="search-form mr-form ">
                  <input type="text " ng-change="searchInTable(search) " placeholder="Search Here...
                                     " ng-model="search" />
                </form> -->
            </div>
            <h3>Purchase Order
              <span class="tableTotal">(Total : {{totalItems}}) </span>
            </h3>
            <label>To:</label>
            <div class="po-form-outer">
              <input type="text" class="po-form-to" ng-model="formData.purchase_order_to" ng-readonly="readonly">
            </div>

            <div class="pull-right">
              <div>
                <label>P.O. No. :</label>
                <div class="po-form-outer">
                  <input type="text" class="po-form-to" ng-model="formData.purchase_order_id" ng-readonly="readonly">
                </div>
              </div>
              <div>
                <label>Date :</label>
                <div class="po-form-outer">
                  <input type="date" class="po-form-to" ng-model="formData.date" ng-readonly="readonly">
                </div>
              </div>
              <div>
                <label>Qtn. Date :</label>
                <div class="po-form-outer">
                  <input type="date" class="po-form-to" ng-model="formData.qtn_Dt" ng-readonly="readonly">
                </div>
              </div>
              <div>
                <label>Req. Date :</label>
                <div class="po-form-outer">
                  <input type="date" class="po-form-to" ng-model="formData.req_Dt" ng-readonly="readonly">
                </div>
              </div>
              <div>
                <label>For Unit :</label>
                <div class="po-form-outer">
                  <input type="text" class="po-form-to" ng-model="formData.unit" ng-readonly="readonly">
                </div>
              </div>
              <div>
                <label>Payment :</label>
                <div class="po-form-outer">
                  <input type="text" class="po-form-to" ng-model="formData.payment" ng-readonly="readonly">
                </div>
              </div>
              <div>
                <label>Transport :</label>
                <div class="po-form-outer">
                  <input type="text" class="po-form-to" ng-model="formData.transport" ng-readonly="readonly">
                </div>
              </div>
              <div>
                  <label>Delivery Schedule :</label>
                  <div class="po-form-outer">
                    <input type="text" class="po-form-to" ng-model="formData.delivery_schedule" ng-readonly="readonly">
                  </div>
                </div>

            </div>

          </div>
          <div class="table-responsive">
            <!--<div class="table-responsive " ng-show="totalItems>0 ">-->
            <table class="table  table-border">
              <thead>
                <tr>
                  <th>#</th>
                  <th>
                    Name
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Quality
                  </th>
                  <th>
                    Quantity
                  </th>
                  <th>
                    Unit
                  </th>
                  <th>
                    Rate
                  </th>
                  <th>
                    Amount
                  </th>
                  <th ng-if="view">Actions</th>
                  <th ng-if="!view">Status</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr ng-repeat="item in items">-->
                <tr ng-repeat="item in formData.raw_materials track by $index">
                  <!--<tr>-->
                  <!-- for pagination -->
                  <!-- <td>{{($index + 1)+((formData.page-1)*maxRow)}}</td> -->
                  <td>{{$index + 1}}</td>

                  <td ng-if="!readonly">
                    <ui-select ng-model="item.raw_material" theme="bootstrap" style="width: 150px;" title="Choose a person">
                      <ui-select-match placeholder="Name">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="{'raw_material_id':prod.id,'raw_material_name':prod.name} as prod in item.products" refresh="setNewRaw(item.products,$select.search)" on-select="setNewRaw(products,$select.search)" refresh-delay="5">
                        <div ng-bind-html="(prod.name | highlight: $select.search) +' (new)'"></div>
                      </ui-select-choices>
                    </ui-select>
                  </td>
                  <td ng-if="readonly">
                    <span>{{item.raw_material_name}}</span>
                  </td>
                  <td>
                    <input type="text" style="width: 150px;" ng-model="item.raw_material_desc" ng-readonly="readonly">
                  </td>
                  <td>
                      <input type="text" style="width: 50px;" ng-model="item.raw_material_quality" ng-readonly="readonly">
                    </td>
                  <td>
                    <input type="number" style="width: 50px;" ng-model="item.raw_material_qty" ng-readonly="readonly">
                  </td>
                  <td>
                    <input type="text" style="width: 50px;" ng-model="item.raw_material_unit" ng-readonly="readonly">
                  </td>
                  <td>
                    <input type="number" style="width: 50px;" ng-model="item.raw_material_rate" ng-readonly="readonly">
                  </td>
                  <td>
                    <input type="number" style="width: 50px;" ng-model="item.raw_material_amt" ng-readonly="readonly">
                  </td>
                  <td ng-if="view">
                    <a class="btn btn-danger" ng-click="removeRow($index)">
                      <i class="fa fa-trash"></i> Remove
                    </a>
                  </td>
                  <td>
                    <a class="btn" ng-class="{'btn-success':item.status=='approve'}" ng-click="item.status='approve'" >
                      <i class="fa fa-thumbs-up fa-2x"></i> 
                    </a>
                    <a class="btn" ng-class="{'btn-danger':item.status=='reject'}" ng-click="item.status='reject'">
                      <i class="fa fa-thumbs-down fa-2x"></i> 
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="final-amt">
                <label>Total :</label>
                <div class="po-form-outer pull-right">
                  <input type="number" name="" id="" class="po-form-to" ng-model="formData.totalAmt" ng-readonly="readonly">
                </div>
              </div>
          </div>
         
          <div class="tableData ">
            <input type="button" class="btn btn-success pull-right" ng-click="addRow()" value="Add" ng-if="view">
            </input>
          </div>
          <div>

          </div>

          <div class="text-center mt20 odd-even-button">
            <button class="btn btn-default" type="submit" ng-click="saveData(formData)" ng-if="view">Save</button>
            <button class="btn btn-default" type="submit" ng-click="submitApproveReject(formData)">Submit</button>
            
            <button class="btn btn-default" ui-sref="purchase-order">Cancel</button>
          </div>
        </div>
        <pre>{{formData | json}}</pre>
      </div>
    </div>
  </div>
</div>
<!-- TABLE  END -->