<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>Category</h2>
      </div>
    </div>
  </div>
</div>

<!-- TABLE  -->
<div class=" panel-content ">
  <div class="row ">
    <div class="col-md-12 ">
      <div class="widget ">
        <div class="table-area ">
          <div class="widget-title ">
            <div class="pull-right">
              <!-- <form class="search-form mr-form ">
                  <input type="text " ng-change="searchInTable(search) " placeholder="Search Here...
                                     " ng-model="search" />
                </form> -->
            </div>
            <h3>Purchase Order
              <span class="tableTotal">(Total : {{totalItems}}) </span>
            </h3>
          </div>
          <div class="table-responsive ">
            <!--<div class="table-responsive " ng-show="totalItems>0 ">-->
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>
                    Name
                  </th>
                  <th>
                    Quantity
                  </th>
                  <th>
                    Quality
                  </th>
                  <th>
                    Price
                  </th>
                  <th ng-if="view">Actions</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr ng-repeat="item in items">-->
                <tr ng-repeat="item in formData track by $index">
                  <!--<tr>-->
                  <!-- for pagination -->
                  <!-- <td>{{($index + 1)+((formData.page-1)*maxRow)}}</td> -->
                  <td>{{$index + 1}}</td>

                  <td>
                    <ui-select ng-model="item.name" theme="bootstrap" style="width: 300px;" title="Choose a person">
                      <ui-select-match placeholder="Name">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="prod.name as prod in products" refresh="products[0].name = $select.search" refresh-delay="5">
                        <div ng-bind-html="(prod.name | highlight: $select.search) +' (new)'"></div>
                      </ui-select-choices>
                    </ui-select>
                  </td>
                  <td>
                    <input type="number" style="width: 50px;" ng-model="item.qnty">
                  </td>
                  <td>
                    <input type="number" style="width: 50px;" ng-model="item.qlty">
                  </td>
                  <td>
                    <input type="number" style="width: 50px;" ng-model="item.price">
                  </td>
                  <td ng-if="view">
                    <a class="btn btn-danger" ng-click="removeRow($index)">
                      <i class="fa fa-trash"></i> Remove
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tableData ">
            <input type="button" class="btn btn-success pull-right" ng-click="addRow()" value="Add" ng-if="view">
            </input>
          </div>
          <div>

          </div>
         
          <div class="text-center mt20 odd-even-button">
            <button class="btn btn-default" type="submit" ng-click="saveData(formData)" ng-if="view">Save</button>
            <button class="btn btn-default" ui-sref="purchase-order">Cancel</button>
          </div>
        </div>
        <pre>{{formData | json}}</pre>
      </div>
    </div>
  </div>
</div>
<!-- TABLE  END -->