<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Product</h2>
            </div>
        </div>
    </div>
</div>

<!-- TABLE  -->
<div class=" panel-content ">
    <div class="row ">
        <div class="col-md-12 ">
            <div class="widget ">
                <div class="table-area ">
                    <div class="widget-title ">
                        <div class="pull-right">
                            <!-- <form class="search-form mr-form ">
                        <input type="text " ng-change="searchInTable(search) " placeholder="Search Here...
                                           " ng-model="search" />
                      </form> -->
                        </div>


                        <div class="pull-right">
                            <div>
                                <label>Req. No. :</label>
                                <div class="po-form-outer">
                                    <input type="text" class="po-form-to" ng-model="formData.reqNo">
                                </div>
                            </div>
                            <div>
                                <label>Product Name :</label>
                                <div class="po-form-outer">
                                    <input type="text" class="po-form-to" ng-model="formData.prod_name">
                                </div>
                            </div>
                            <div>
                                <label>Location</label>
                                <div class="po-form-outer">
                                    <input type="text" class="po-form-to" ng-model="formData.loc">
                                </div>
                            </div>
                            <div>
                                <label>Date :</label>
                                <div class="po-form-outer">
                                    <input type="date" class="po-form-to" ng-model="formData.date">
                                </div>
                            </div>



                        </div>

                    </div>
                    <div class="table-responsive">
                        <!--<div class="table-responsive " ng-show="totalItems>0 ">-->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Quality
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr ng-repeat="item in items">-->
                                <tr ng-repeat="item in formData.raw_materials track by $index">
                                    <!--<tr>-->
                                    <!-- for pagination -->
                                    <!-- <td>{{($index + 1)+((formData.page-1)*maxRow)}}</td> -->
                                    <td>{{$index + 1}}</td>

                                    <td>
                                        <!-- <ui-select ng-model="item.raw_material" theme="bootstrap" style="width: 150px;" title="Choose a person">
                                            <ui-select-match placeholder="Name">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="{'raw_material_id':prod.id,'raw_material_name':prod.name} as prod in item.products" refresh="setNewRaw(item.products,$select.search)"
                                                on-select="setNewRaw(products,$select.search)" refresh-delay="5">
                                                <div ng-bind-html="(prod.name | highlight: $select.search) +' (new)'"></div>
                                            </ui-select-choices>
                                        </ui-select> -->

                                        <ui-select ng-model="item.raw_material" theme="bootstrap" style="width: 150px;" ng-disabled="ctrl.disabled" reset-search-input="false" style="width: 600px;"
                                            title="Choose an address" append-to-body="true">
                                            <ui-select-match placeholder="Enter an address...">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="{'raw_material_id':prod.id,'raw_material_name':prod.name} as prod in item.products" refresh="setNewRaw(item.products,$select.search)" refresh-delay="0">
                                                <div ng-bind-html="prod.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td>
                                        <input type="text" style="width: 50px;" ng-model="item.raw_material_quality">
                                    </td>
                                    <td>
                                        <input type="number" style="width: 50px;" ng-model="item.raw_material_qty">
                                    </td>

                                    <td>
                                        <a class="btn btn-danger" ng-click="removeRow($index)">
                                            <i class="fa fa-trash"></i> Remove
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                      
                    </div>

                    <div class="tableData ">
                        <input type="button" class="btn btn-success pull-right" ng-click="addRow()" value="Add">
                        </input>
                    </div>
                    <div>

                    </div>

                    <div class="text-center mt20 odd-even-button">
                        <button class="btn btn-default" type="submit" ng-click="submitApproveReject(formData)">Submit</button>

                        <button class="btn btn-default" ui-sref="purchase-order">Cancel</button>
                    </div>
                </div>
                <pre>{{formData | json}}</pre>
            </div>
        </div>
    </div>
</div>
<!-- TABLE  END -->