<div class="clearfix" style="padding: 5px 10px;">
    <div class="pull-right"><span class="close" ng-click="$dismiss();"><i class="fa fa-times"></i></span></div>
</div>
<div class="more-text text-center">
    <toaster-container></toaster-container>
    <p style="color:#FF5A60;text-transform: uppercase;font-size: 18px">Delete?</p>
    <div class="signup-forms" style="margin-bottom:15px;">
        <span ng-click="confDelete(); $dismiss();"><a class="btn btn-primary mrr all-btn">Confirm Delete</a></span>
    </div>
</div>